*{
    margin: 0 auto ;
    padding: 0;
    text-decoration: none;
    list-style:none;
}
body{
    font:14px;
    font-family: 宋体,Arial Narrow,arial,serif;
}
a{
    color: #000000;
}
a:hover{
    color: red;
}
header{
    width: 100%;
    height: 66px;
    overflow: hidden;
}
header .header-main{
    width: 960px;
    height:60px;
    margin:0 auto;
}
header .header-main .h-l{
    width: 182px;
    height: 42px;
    font-size: 37px;
    font-weight: 500;
    position: absolute;
    float: left;
}
header .header-main .h-l a{
    line-height: 42px;
    text-decoration: none;
    color: #fc87bc;
}


header .header-main .h-r{
    width: 268px;
    height: 36px;
    float: right;
    margin-top: 14px;
}
.h-r .r1{
    width: 74px;
    height: 18px;
    float: left;
}
.h-r .r2{
    width: 90px;
    height: 18px;
    float: left;
}
.h-r .r3{
    width: 100px;
    height: 36px;
    float: left;
}
.imgtop1{
    width: 18px;
    height: 18px;
    float: left;
}
.r11{
    float: left;
    margin-left: 2px;
}
.r11 a{
    text-decoration: none;
}

/* nav导航栏部分开始 */
nav{
    width: 100%;
    height: 100%;
}
nav  .nav-main a:hover{
    color: #f00;
}
nav .nav-main{
    width: 960px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 2px solid #dddddd;
}
.nav-left{
    width: 425px;
    height: 30px;
    float: left;
    line-height: 30px;
    font-weight: 600;

    font-size: 14px;
}

.nav-left .nav-a1{
    text-decoration: none;
    color: #000000;
} 
.nav-left .nav-a3{
    text-decoration: none;
    color: #000000;
    margin-left: 35px;
} 
.nav-right .nav-a7{
    text-decoration: none;
    color: #000000;
    margin-left: 15px;
} 
.nav-left .nav-a2{
    width: 32px;
    height: 30px; 
    display: block;   
    overflow: hidden;
    border-bottom: 2px solid #f90b70;
    position: absolute;
    text-decoration: none;
    color: #000000;
}
.nav-right{
    width: 510px;
    height: 30px;
    float: right;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
}
.nav-right a{
    text-decoration: none;
    color: #000000;

}
/* =============公共头部结束=========== */


/* ======================== 电影页面主体开始 ============================ */


main{
    width: 960px;
    height: 1500px;
    margin-top: 35px ;
}

main .main-title{
    width: 960px;
    height: 28px;
    /* background: pink; */
}
main .main-title h2{
    width: 78px;
    height: 28px; 
    line-height: 28px;
    font-size: 18px;
    font-family: "Microsoft YaHei", 微软雅黑;
    color: rgb(252, 139, 187);
    font-weight: 700;
    float: left;
    overflow: hidden;
}

main .main-title p{
    height: 28px; 
    line-height: 28px;
    float: right;
    font-size: 14px;

}

main .main-footer{
    margin-top: 15px;
    font-size: 10px;
  border-bottom: 0.1px solid #ddd;
}
main .main-footer p{
    margin-top: 8px;
    margin-bottom: 5px;

}
main .main-footer p>.labelCF{
    margin-left: 4px; 
}
main .main-footer p>a{
    margin-left: 10px;
}

main .main-footer .fot>a{
    margin-left: 5px;
}


/* =============== 电影列表 ================== */
.movie-list{
    width: 960px;
    height: 1330px;
    margin-top: 25px;

}
.movie-left{
    width: 645px;
    height: 1330px;
    /* background: skyblue; */
    float: left;
}
.movie-left ul{
    width: 645px;
    height: 1330px;
}
.movie-left ul li {
    width: 645px;
    height:118px;
    border-bottom: 0.1px solid #ddd;

}

.movie-left ul li a img{
    width: 77px;
    height: 102px;
    float: left;
}

.movie-left ul li  h2{
    width: 230px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-weight: 700;
    font-size: 15px;
    /* margin: 0;
    padding: 0; */
    float: left;
    margin-left: 15px;
}
.movie-left ul  li p{
    width: 320px;
    line-height: 20px;
    height: 20px;
    display: block;
    overflow: hidden;
    margin-right: 8px;
    font-size: 12px;
    margin-left: 15px;
    float: left;
}
.movie-left ul  li span{
    line-height: 16px;
    overflow: hidden;
    height: 32px;
    color: #999;
    padding-top: 6px;
    font-size: 12px;
    float: left;
    margin: -41px 0 0 89px ;
}



.movie-right{
    width:315px ;
    height: 1330px;
    float: right;
    /* background: pink; */
}

.movie-right .recommended{
    width: 300px;
    height: 28px;
}

.movie-right .recommended h2{
    font-size: 18px;
    font-family: "Microsoft YaHei","微软雅黑";
    overflow: hidden;
    color: #FC8BBB;
    font-weight: 700;
    float: left;
}
.movie-right  .pics{
    width: 300px;
    height: 1330px;
    /* background: pink; */
    margin-top: 20px;
}
.movie-right  .pics ul li{
    width: 300px;
    height: 118px;
    border-bottom: 0.1px solid #ddd;
    
}
.movie-right  .pics ul li a img {
    width: 77px;
    height: 102px;
    float: left;
}
.movie-right  .pics ul li h2{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-weight: 700;
    font-size: 15px;
    margin-left :90px; 

}

.pics li span {
    line-height: 20px;
    height: 20px;
    display: block;
    overflow: hidden;
    margin-left: 8px;
    font-size: 10px;
    margin-left :90px; 

}
.pics li p {
    line-height: 16px;
    overflow: hidden;
    height: 32px;
    color: #999;
    padding-top: 6px;
    font-size: 10px;
    margin-left :90px; 

}



.pages {
    width: 940px;
    height: 41px;
    clear: both;
    line-height: 30px;
    padding: 5px 0;
    margin: 5px 10px;
    text-align: center;
    zoom: 1;
    font-size: 14px;
}

/* ======================== 电影页面主体结束 ============================ */








/* 脚部开始 */
footer{
    width: 960px;
    height: 220px;
    margin: 0 auto;
    overflow: hidden;
}

.f-top3{
    width: 960px;
    height: 15px;
    /* background-color: #613145; */
}
.f-top4{
    width: 960px;
    height: 137px;
    border-top: 2px solid #fc8bbb;
    overflow: hidden;
}
.f-top10{
    width: 960px;
    height: 15px;
}
.f-top5{
    width: 960px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.f-top6{
    width: 960px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}
.f-top7{
    width: 960px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}
.f-top8{
    width: 960px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}
.f-top9{
    width: 960px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}
/* <!-- 脚部结束 --> */
